/* main.css */
.main {
    padding: 20px;
    background-color: rgb(230,230,230);
}

.main-title {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 100px;
}

.cell {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.cell h1 {
    font-size: 1rem;
}

.cell img {
    width: 80px; /* Regola la dimensione dell'immagine */
    height: auto;
    margin-bottom: 10px;
}
