

.navbar-private {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e6f7e0; /* Colore di sfondo verde chiaro */
  border-bottom: 1px solid #c2d6c0; /* Bordo verde più scuro */
}

.profile-private-title{
  color: #218838;
}

.requests {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.badge {
  background-color: #28a745; /* Verde acceso */
  color: white;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
}

.requests-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.request-card {
  border: 1px solid #c2d6c0; /* Bordo verde chiaro */
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #f9fff7; /* Sfondo verde molto chiaro */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.request-card h3 {
  margin-top: 0;
  color: #28a745; /* Verde principale */
}

.request-card p {
  margin-bottom: 0;
}

.buttons {
  display: flex;
  gap: 10px; /* Spazio tra i bottoni */
  margin-top: 10px;
}

.buttons button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Stile per il bottone "Contatta" */
.buttons button:first-child {
  background-color: #28a745; /* Verde per contattare */
  color: white;
}

.buttons button:first-child:hover {
  background-color: #218838; /* Verde più scuro per hover */
}

/* Stile per il bottone "Elimina" */
.buttons button:last-child {
  background-color: #dc3545; /* Rosso per eliminare */
  color: white;
}

.buttons button:last-child:hover {
  background-color: #c82333; /* Rosso più scuro per hover */
}

.contattato{
  color: #218838;
}

.profile-private-norequest{
  height: 500px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap; /* Permette di avvolgere le immagini su più righe se necessario */
  gap: 10px; /* Aggiunge spazio tra le immagini */
  max-width: 100%; /* Impedisce che le immagini escano dal contenitore */
}

.request-image {
  object-fit: cover; /* Ritaglia l'immagine se non ha le stesse proporzioni */
  margin: 5px; /* Spazio intorno a ciascuna immagine */
  border-radius: 8px; /* Angoli arrotondati */
}
