/* index.css o App.css */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

body {
  margin: 0;
  font-family:'Agdasima';
  font-size: 18px; /* Dimensione del testo più grande */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
